/* .main {
  background: rgb(125, 6, 245);
  text-align: center;
  padding: 1px;
  width: 100%;
  margin-left: auto;
  box-shadow: 20px 1px 20px 3px rgb(55, 2, 245);
  height: 20%;
  border-radius: 10px 2px;
  position: relative;
}
.head {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px #000000;
}
.head a {
  text-decoration: none;
  color: white;
} */
